<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <a target="_blank" href="https://discord.gg/A7SpJBYvya"> <b>Link Defender Dashboard</b> Version 1.0.0-beta</a>
  </div>
  <strong
    >This website is made by ValkyrieInfinite. 
    Made with <i class="fa fa-heart"></i> by <a target="_blank" href="https://discord.gg/A7SpJBYvya">Link Defender</a>.</strong
  >
</footer>
