<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Link Defender | Dashboard</title>
  <link rel="icon" type="image/ico" href="/dist/img/atlanta.ico" />

  <!-- Responsive meta tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

  <!-- SEO meta tags -->
  <meta name="description" content="Link Defender Dashboard for managing your Discord bot settings." />
  <meta name="keywords" content="Discord, Bot, Dashboard, Link Defender" />
  <meta name="author" content="Valkyrie Infinite" />

  <!-- Open Graph meta tags for social media integration -->
  <meta property="og:title" content="Link Defender | Dashboard" />
  <meta property="og:description" content="Link Defender Dashboard for managing your Discord bot settings." />
  <meta property="og:image" content="/dist/img/atlanta.ico" />
  <meta property="og:url" content="https://link-defender.co.uk/" />
  <meta property="og:type" content="website" />

  <!-- Twitter Card meta tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Liquid Agony Studios" />
  <meta name="twitter:description" content="New upstart game development studio." />
  <meta name="twitter:image" content="/dist/img/atlanta.ico" />
  <meta name="twitter:site" content="@LiquidAgonyDev" />

  <!-- CSS JS Fonts Icons-->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/dist/css/custom.css" />
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css" />
  <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"
  />

  <!-- JavaScript -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/fastclick/lib/fastclick.js"></script>
  <script src="/dist/js/adminlte.min.js"></script>
  <script src="/dist/js/custom.js"></script>
</head>
